.testPass{
	margin-left: 10px;
	padding: 3px 8px;
}
.shortPass{
	background: Yellow;
}
.badPass{
	background: Red;
	color: White;
}
.goodPass{
	background: Green;
	color: White;
}
.strongPass{
	background: DarkGreen;
	color: White;
}