ul.yiiPager
{
	font-size: 11px;
	border: 0;
	margin: 0;
	padding: 0;
	line-height: 100%;
	display: inline;
}

ul.yiiPager li
{
	display: inline;
}

ul.yiiPager a:link,
ul.yiiPager a:visited
{
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: solid 1px #d1d1d1;
	font-weight: bold;
	color: #666;
	padding: 4px 8px;
	text-decoration: none;
}

ul.yiiPager .page a
{
	font-weight: normal;
}

ul.yiiPager a:hover
{
	background: #f1f1f1;
}

ul.yiiPager .selected a
{
	background: #0088cc;
	border: solid 1px #0088cc;
	color: #ffffff;
	font-weight: bold;
}

ul.yiiPager .hidden a
{
	border: solid 1px #f1f1f1;
	background: #ffffff;
	color: #888888;
}