#loading{
    background-image: url(loading.gif);
    background-repeat: no-repeat;
    background-position: center center;
    position: fixed;
    z-index: 999999;
    top: 50%;
    left: 50%;
    width: 120px;
    height: 120px;
    margin-top: -60px;
    margin-left: -60px;
    opacity: 0.8;
    background-color: #CCC;
    border-radius: 200px;
    display: block;
    text-align: center;
    padding-top: 80px;
    color:#666;
    display: none;
}