div.emailDebug {
	border: black 1px solid;
	background: #F0F0F0;
	padding: 9px;
}
div.emailDebug h2 {
	margin: 2px 0 0 0;
	padding: 0;
}
div.emailDebug p {
	margin: 5px 0 0 0;
	padding: 0;
}
div.emailDebug h3 {
	margin: 20px 0 7px 0;
	border-bottom: silver 1px solid;
	padding: 0;
}
div.emailDebug .emailMessage {
	margin: 10px 0 10px 0;
	padding: 10px;
}
div.emailDebug table {
	width: 800px;
	border-collapse:collapse;
}
div.emailDebug table th {
	border: 1px solid #666666;
	padding: 3px;
	text-align: left;
}
div.emailDebug table td {
	border: 1px solid #666666;
	padding: 3px;
	text-align: left;
}