body {
	font-family: verdana, tahoma, arial, sans-serif;
	color: #333;
	font-size: 10pt;
	line-height: 150%;
	max-width: 700px;
}

a {
	color: #0088cc;
	text-decoration: none;
}

a:hover {
	color: #005580;
}

h1,h2,h3 {
	margin: 0px 0px 10px 0px;
	font-family: verdana, tahoma, arial, sans-serif;
	font-weight: bold;
}

h1 {
	font-size: 14pt;
	color: #666666;
}

h2 {
	font-size: 13pt;
	color: #52565B;
}

h3 {
	font-size: 10pt;
	color: #52565B;
}

img
{
	border: none;
}

table {
	background: white;
	border-collapse: collapse;
	width: 100%;
	margin-top: 20px;
}

th, td {
	padding: 5px;
	vertical-align: top;
}

th {
	border: 1px #D5E3F5 solid;
	background: #EBF3FD;
	text-align: left;
}

td {
	border: 1px #E8E8E8 solid;
	font-family: verdana, tahoma, arial, sans-serif;
	color: #333;
	font-size: 10pt;
	line-height: 150%;
}

