div.form {
	border: 1px solid #dddddd;
	background: #f9f9f9;
	color: #333333;
	margin : 0;
	padding: 15px;
	width: 600px;
	margin: 0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	width: auto;
}
div.form form {
	margin: 0;
}
div.form div.action {
	clear: left;
	margin-left: 130px;
	padding: 20px 0;
}
div.form div.simple {
	clear: left;
	padding: 4px 0;
}
div.form span.required {
	color: #c00000;
}
div.form div.simple label {
	display: block;
	float: left;
	margin-right: 10px;
	position: relative;
	text-align: right;
	width: 120px;
}
div.form input.error,
div.form textarea.error,
div.form select.error,
div.form input.error:focus,
div.form textarea.error:focus,
div.form select.error:focus {
	background: #feeeee;
	border-color: #c00000;
}
label.error {
	color: #c00000;
}
div.form div.errorSummary {
	border: 2px solid #c00000;
	padding: 7px 7px 12px 7px;
	margin: 0 0 20px 0;
	background: #feeeee;
}
div.form div.errorSummary p {
	margin: 0;
	padding: 5px;
}
div.form div.errorSummary ul {
	margin: 0;
	padding: 0 0 0 20px;
}
div.form div.errorSummary ul li {
	list-style: square;
}