.navbar {
  width: 100%;
  background-color: #0088cc;
  overflow: auto;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar a {
  float: left;
  padding: 8px 10px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: #00a6fc;
}

.navbar .active {
  background-color: #00a6fc;
}

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}